body {
  background: #eee;
}
.date__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 254, 254);
  border: 4px solid;
  font-weight: bold;
  padding: 5px 10px;
}
.date__day {
  font-size: 70px;
  font-weight: bolder;
}
.date__month {
  font-size: 40px;
  font-weight: bolder;
}

.blog-card {
  padding: 30px;
  position: relative;
}
/* .date__box {
  opacity: 0;
  transform: scale(0.5);
  transition: 300ms ease-in-out;
} */

.blog-card__background,
.card__background--layer {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-card__background {
  padding: 15px;
  background: white;
}
.card__background--wrapper {
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
  position: relative;
  overflow: hidden;
}
.card__background--main {
  height: 100%;
  position: relative;
  transition: 300ms ease-in-out;
  background-image: url(image/p1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card__background--layer {
  z-index: 0;
  opacity: 0;
  background: rgba(#333, 0.9);
  transition: 300ms ease-in-out;
}
.blog-card__head {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-card__info {
  z-index: 10;
  background: whitesmoke;
  padding: 20px 15px;
}
h4 {
  transition: 300ms ease-in-out;
}
/* .date__box:hover {
  opacity: 1;
  transform: scale(1);
} */
.card__background--main:hover {
  transform: scale(1.2) rotate(5deg);
}
.card__background--layer:hover {
  opacity: 3;
}
.blog-card__info h4:hover {
  color: green;
}

a.icon-link {
  color: #363738;
  transition: 200ms ease-in-out;
}

i {
  color: green;
}
.i:hover {
  color: #ffb535;
  text-decoration: none;
}

.btn {
  background: white;
  color: #363738;
  font-weight: bold;
  outline: none;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 0;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0;
  border: none;
}
.btn:focus {
  box-shadow: none;
}
.btn:hover {
  background: green;
  color: #fff;
}
.btn.btn--with-icon {
  padding-right: 20px;
}
.btn.btn--with-icon i {
  padding: 0px 30px 0px 15px;
  margin-right: 10px;
  height: 50px;
  line-height: 50px;
  vertical-align: bottom;
  color: white;
  background: green;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
}

.btn.btn--only-icon {
  width: 50px;
}
.col-sm-4 {
  align-items: center;
  align-content: center;
}
