.container{
    margin-top: 7%;
}

.aboutcard{
    border-radius: 0px 60px 0px 60px;
    background: #36454F;
    width: 50vh;
    height: 60vh;
    margin-left: 12%;
    background-image: url(https://images.pexels.com/photos/7425352/pexels-photo-7425352.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .blacklineAbout{
      width: 4vh;
     border-top: 2px solid black;
     margin-top: -3.7vh;
     margin-left: 12vh;

  }

  .aboutTopic{
      margin-top: 4vh;
  }

  .aboutP{
      margin-top: 4vh;
  }

  .aboutContent{
      margin-top: 8vh;
  }