.boxWhat {
  margin-top: -5%;
  margin-bottom: 7%;
  vertical-align: auto;
  /* width: 100%;
  height: 80vh; */
  background-color: #ffffff;
}

.WhatWedoContent {
  margin-left: 5%;
  margin-top: 10%;
}

.WhatWedocard {
  margin-top: 24%;
  border-radius: 20px 20px 20px 20px;
  width: 60vh;
  height: 45vh;
  margin-left: 10%;
  background-image: url(https://images.pexels.com/photos/8770246/pexels-photo-8770246.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blacklineWedo {
  width: 8vh;
  border-top: 2px solid #1d2130;
  margin-top: -4.1vh;
  margin-left: -10.5vh;
}

.wedotopic {
  font-weight: bold;
  font-size: smaller;
}

.Whatwedoh1 {
  margin-top: 5%;
  font-size: 56px;
  margin-top: 4%;
  font-weight: 700;
  line-height: 120%;
  color: #1d2130;
}

.Whatwedolorem {
  margin-top: 5%;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #525560;
}

/*   ------------------------   GREEN BOX ---------------------------       */

.boxGreen {
  margin-top: 5%;
  margin-bottom: 7%;

  background-color: #eff7f2;
}

.mainGrid {
  margin-left: 5%;
  margin-top: 5%;
}

.mainH1 {
  margin-top: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1d2130;
}

.wedoTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #1d2130;
}

.cardMain {
  margin-top: 6%;
  margin-left: 2%;
  margin-right: 2%;
  gap: 20px;
}

.cardP {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #525560;
}

/*   ------------------------   WHITE BOX ---------------------------       */

.boxWhatSec {
  margin-top: -7%;
  margin-bottom: -7%;
  vertical-align: auto;
  width: 100%;
  height: 550px;
  background-color: #ffffff;
}

.colgreenbox {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
}
.imgCard {
  height: 32px;
  margin-right: 40px;
  /* margin-left: 60%;
  display: flex; */
}
.rowGreen {
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 20px;
}

@media screen and (max-width: 1200px) {
  .WedoContent {
    margin-left: 8%;
  }

  .Wedocard {
    margin-left: 5%;
  }
}

@media screen and (max-width: 1024px) {
  .WedoContent {
    margin-left: 8%;
  }

  .Wedocard {
    margin-left: 5%;
  }
}
@media screen and (max-width: 992px) {
  .WhatWedocard {
    margin-top: 10%;
    width: 60vh;
    height: 45vh;
    margin-left: 6%;
  }
  .WhatWedoContent {
    margin-right: 0;
    padding-left: 5%;
    padding-right: 0;
  }
  .boxWhat {
    margin: 0;
    padding: 0;
  }
  .Whatwedolorem {
    margin-right: 0;
    padding-right: 0;
  }
  .Whatwedoh1 {
    padding-right: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .WedoContent {
    margin-left: 8%;
  }

  .WhatWedocard {
    margin-top: 10%;
  }
}

@media screen and (max-width: 576px) {
  .WhatWedoContent {
    margin-left: 5%;
    margin-right: 5%;
  }

  .WhatWedocard {
    margin-left: 5%;
    margin-right: 5%;
    height: 35vh;
    width: 45vh;
  }

  .colgreenbox {
    display: flex;
    padding-top: 20px;
  }

  .mainH1 {
    font-size: 30px;
  }
  .rowGreen {
    padding-left: 20px;
  }
  .wedoTitle {
    font-size: 18px;
  }
  .cardP {
    font-size: 13px;
  }
  .Whatwedoh1 {
    font-size: 32px;
  }
  .WhatWedoContent {
    padding-left: 10%;
  }

  .blacklineWedo {
    width: 3vh;
    border-top: 2px solid #1d2130;
    margin-top: -5.2vh;
    margin-left: 11vh;
  }

  .wedotopic{
    margin-bottom: 4vh;
  }

  .Wedocard{
    margin-left: -3vh;
  }
}
